* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.container{
    width: 95%;
    margin: 0 auto;
}
.btn{
    padding: 12px 16px;
    background-color: #469165;
    font-size: 16px;
    font-weight:600;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;

}
.nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 90px;
}
.nav-content ul{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 28px;
}
.nav-content ul li a{
    text-decoration: none;
    font-size: 15px;
    font-weight:500;
    color:#000000;

}
.nav-content ul li{
    list-style: none;

}
.nav-content .nav-logo img{
    width: 130px;
    background-color: #FFFFFF;
}


#banner {
    background-image: url(/assets/hero-bg.png);
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 115px 120px 150px;
}
.banner-content{
    /* width: 1000px; */
}
 .banner-content .banner-btn-1{
    padding: 8px 12px;
    background-color:#FFFFFF;
    border-radius:1000px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 16px;
 }
 .banner-content h1{
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
 }
 .banner-content h1 .color{
    color: #30B868;
 }
 .banner-content p{
    font-size: 14px;
    line-height:24px;
    color: #FFFFFF;
    margin-bottom: 32px;
 }
  .banner-content .banner-btn-2{
    display: flex;
    justify-content: center;
    gap:16px;
 }
 .banner-content .banner-btn-2 .btn-1{
    padding: 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF;
    background-color:#469165;
 }
 .banner-content .banner-btn-2 .btn-2{
    padding: 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600px;
    background-color: none;
 }