* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.container{
    width: 95%;
    margin: 0 auto;
}
.btn{
    padding: 12px 16px;
    background-color: #469165;
    font-size: 16px;
    font-weight:600;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;

}
.nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 90px;
}
.nav-content ul{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 28px;
}
.nav-content ul li a{
    text-decoration: none;
    font-size: 15px;
    font-weight:500;
    color:#000000;

}
.nav-content ul li{
    list-style: none;

}
.nav-content .nav-logo img{
    width: 130px;
    background-color: #FFFFFF;
}